*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #36384D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    height: 100vh;
    color: #242742;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    background-color: white;
   
}

main > h2{
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}


main > p:last-of-type > span{
    font-weight: bold;
}

main > p:last-of-type{
    font-size: 16px;
    line-height: 150%;
}

main > img {
    margin-top: 100px;
}

main > button {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    height: 56px;
    color: white;
    font-weight: bold;
    background-color: #242742;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    
}

@media only screen and (min-device-width : 768px){
   
    main{
        width: 504px;
        height: 520px;
        border-radius: 30px;
       
        padding: 50px;
    }

    main > img {
        width: 64px;
        margin: 0;
    }

    main > h2 {
        font-size: 56px;
    }
    main > button {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 30px;
    }


    main > button:hover {
        background: linear-gradient(to bottom, #FF6A3A, #FF527B);
        box-shadow: 0px 6px 8px rgba(255, 82, 123, 0.5);
        cursor: pointer;
    }
    }